doctype 5
html
  head
    title Bookmarklet generator
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/site.css")
    block head

  body
    div#page
      h1 Bookmarklet generator
      block content

    footer
      p
        | Created by 
        a(href='http://blog.gyoshev.net') Alex Gyoshev
        | . 
        a(href='https://github.com/jrburke/uglifyweb') UglifyWeb
        |  and 
        a(href='http://codemirror.net') CodeMirror
        |  are great. Hosted on 
        a(href='https://console.appfog.com/login') AppFog
        | .

    script(src="/bootstrap/js/bootstrap.min.js")
