extends ../layout

block content
  label(for='input') Bookmarklet code
  textarea#input

  h2 Options
  ul
    li
      input#uglify(type='checkbox')
      label(for='uglify') Minify code

  button#bookmarkify.button.btn-primary Generate bookmarklet!

  div#output
    a#bookmarklet Output bookmarklet

  script(src='/scripts/bookmarkify.js')
  script
    function $(id) { return document.getElementById(id); }

    $('bookmarkify').onclick = function () {
        $('bookmarklet').href = bookmarkify($('input').value, {
            uglify: $('uglify').checked
        });
    }
