#page {
    padding: 2em 1em;
    margin: 2em auto;
    max-width: 40em;
    border-radius: .5em;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    color: #333;
}

footer {
    text-align: center;
}
